/***********************TAGS SELECTORS***************************/
body{
  background-color: hsl(185, 75%, 39%);
font-family: 'Kumbh Sans', sans-serif;
padding-top: 50px;
border-top-width: 100px;
width: 1200px;


}

img{
  border-radius: 100%;
  margin-left: 125px;
  margin-top:70px;

  position:absolute;

}


p{
  width: 60%;
  margin:auto;
  text-align: center;
  line-height: 2;
position:absolute;

}

hr{
    color:hsl(0, 0%, 59%);
    position:absolute;
    width:348px;
    height: 0.2px;
margin-top:300px;


}


table{
  border-spacing: 50px 0.5rem;
  text-align: center;
  margin: auto;
  position:absolute;
  margin-top:315px;
}


/************************CLASS SELECTORS**************************/
.bg-top-image{
  background-image: image("bg-pattern-top.svg");
  background-size: 80%;
  position:absolute;
margin-top: 0px;
right: 100px;
left: 10px;
width: 400px;
height: 400px;

}

.bg-bottom-image{

  background-size: 80%;
width: 400px;
height: 400px;
position:absolute;
margin-top: 290px;
margin-left: 250px;
}

.background{
  background:top-container, bg-bottom-image, bg-top-image;
}

.top-container{
  background-color: white;
  width: 350px;
  height:400px;
  border-radius: 10%;
  margin:200px auto;
  position:relative;
}


.bg-card-image{
width: 350px;
height:130px;
position:absolute;
margin: 0;
border-radius: 17px 17px 0 0;
}


.victor{
  border: 0.3rem solid white;

}

.name{
  font-weight: bold;
  font-size: 18px;
position:absolute;
margin-top:170px;
}

.age{
  color:hsl(0, 0%, 59%);
  position:absolute;
  margin-top:172px;
  margin-left: 120px;
}

.bold{
  font-weight: bold;
}

.gris {
  color:hsl(0, 0%, 59%);
}

.margin{
  margin-bottom: 50px;
  color:hsl(0, 0%, 59%);
  position:absolute;
  margin-top:200px;
  margin-left: 70px;
  margin-right: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
